<h1>Listing Images</h1>

<%= form_tag(images_url , method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br/>
<table>
  <% @images.each do |image| %>
    <tr>
      <td><%= link_to (image_tag image.url, class: 'img-panel'), image %><td>
      <% image.tag_list.each do |tag| %>
        <td><%= link_to tag,
                        images_url(search: "#{params[:search]},#{tag}", class: "#{params[:class]}"),
                        class: 'tag_name' %></td>
      <% end %>
    </tr>
  <% end %>
</table>

